/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: darkslategrey;
}

html, body {
    height: 100%;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */

.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
}
/* Declare heights because of positioning of img element */

.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}
/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */

.marketing .col-lg-6 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}
/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0;
    /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    
    /*.navbar-wrapper {
        margin-top: 20px;
    }*/
    /*.navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }*/
    /*.navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }*/
    /* The navbar becomes detached from the top, so we round the corners */
    
    .navbar-wrapper .navbar {
        border-radius: 4px;
        height: 75px;
    }
    /* Bump up size of carousel content */
    
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.red {
    color: #E74C3C;
}

.cases {
    margin-top: 100px;
/*    padding-top: 32px;*/
    background-color: #ffffff;
    height:100%;
}

ul {
    list-style-type: none;
}

#case-text-area {
    width: 100%;
    height: 200px
}

.AwaitingResponse{
    background-color: #ffffff;
}

.Responded{
    background-color: #ffffff;
}

.Closed{
    background-color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #E74C3C;
}

.navbar-default .navbar-nav > .active > a {
    color: #E74C3C;
}



/*

a {
    color: #7f8c8d
}

a:hover {
    color: #c0392b
}

.navbar-default .navbar-nav > .active > a {
    color: #E74C3C;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #E74C3C;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #E74C3C;
}

.navbar > .container .navbar-brand > .active > a:focus {
    color: #E74C3C;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret{
    color: #E74C3C;
    border-top-color: #E74C3C;
    border-bottom-color: #E74C3C;
}

.navbar-default .navbar-nav > .dropdown > a:visited .caret{
    color: #E74C3C;
    border-top-color: black;
    border-bottom-color: black;
    
}

.btn-default:hover{
    background-color: #E74C3C;
  border-color: #E74C3C;
}

.btn-default:focus{
    background-color: #c0392b;
  border-color: #c0392b;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #2F514A;
  background-color: transparent;
}
*/

a {
font-family: ‘Metrophobic’, Arial, serif; font-weight: 400;}
