<!--<li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                    <li><a href="#">One more separated link</a>
                                    </li>
                                </ul>
                            </li>-->



<ul style="padding-left: 0px">
        <div class="row" style="padding:0px" background-color:#4D9494>
            <div class="col-md-2" style="color:red;background-color:green;height:48px">{{case.patientId}}</div>
            <div class="col-md-1"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2">caseStatus</div>
            <!--<div class="col-md-2">.col-md-1</div>
            <div class="col-md-2">.col-md-1</div>-->
        </div>
        <li ng-repeat="case in cases | filter: {status: status} | orderBy: '_id' : false">
            <div class="row">
                <div class="col-md-2" style="color:red;background-color:#4D9494;height:48px">{{case.patientId}}</div>
                <div class="col-md-1" style="color:red;background-color:#293D3D;height:48px"></div>
                <div class="col-md-2" style="color:red;background-color:#4D9494;height:48px"></div>
                <div class="col-md-2" style="color:red;background-color:#4D9494;height:48px">{{case.status}}</div>
                <!--<div class="col-md-2">.col-md-1</div>
                <div class="col-md-2">.col-md-1</div>-->
            </div>
            <a href="#/case/{{case._id}}"></a>
        </li>
    </ul>

<!--
    <div class="row">

        <table class="table">
            <tr>
                <td><b>Case</b>
                </td>
                <td>{{case._id}}</td>

                <td><b>Patient</b>
                </td>
                <td>{{case.patientId}}</td>

                <td><b>Sex</b>
                </td>
                <td>{{case.sex}}</td>

                <td><b>Age</b>
                </td>
                <td>{{case.age}}</td>
            </tr>
            <tr>
                <td><b>Description</b>
                </td>
                <td>{{case.description}}</td>

            </tr>
        </table>

    </div>
-->
    <!--
    <div class="row">
        <div class="col-md-12">buuh</div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Show Conversations
            </button>
            <div class="collapse" id="collapseExample">
                <div class="well" style="overflow:scroll;height:175px;">

                    <ul ng-repeat="comment in case.comments">
                        <li><i class="fa fa-comment"></i>&nbsp;{{comment.text}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <b>Add Comment</b>
        <div class="col-md-12">
            
        </div>
    </div>
-->