<div class="container-fluid" ng-controller="CaseController" style="padding-top:10px">



    <div class="container-fluid">

        <div class="row">

            <div class="col-xs-12 col-md-8">
                <div style="background-color:#E7E7E7; padding: 20px; border-radius:10px;">
                    <table class="table">
                        <tr>
                            <td><b>Patient</b>
                            </td>
                            <td>{{case.patientId}}</td>

                            <td><b>Gender</b>
                            </td>
                            <td>{{case.sex}}</td>

                            <td><b>Age (Yrs)</b>
                            </td>
                            <td>{{case.ageYears}}</td>

                            <td><b>Age (Mths)</b>
                            </td>
                            <td>{{case.ageMonths}}</td>

                            <td><b>Consent Given</b>
                            </td>
                            <td>{{case.consent}}</td>
                        </tr>
                        <tr>
                            <td><b>Blood Pressure (mmHg)</b>
                            </td>
                            <td>{{case.bloodPressureMax}}</td>
                            <td>/</td>
                            <td>{{case.bloodPressureMin}}</td>

                            <td><b>Pulse (bpm)</b>
                            </td>
                            <td>{{case.pulse}}</td>

                            <td><b>Temperature (&#8457;)</b>
                            </td>
                            <td>{{case.temperature}}</td>

                            <td><b>HIV Positive</b>
                            </td>
                            <td>{{case.hivPositive}}</td>
                        </tr>
                        <tr>
                            <td><b>Description</b>
                            </td>
                            <td colspan=7>{{case.description}}</td>
                        </tr>
                        <tr>
                            <td><b>Known Medication</b>
                            </td>
                            <td colspan=7>{{case.medication}}</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>



        <div class="row">

            <div class="col-xs-12 col-md-8">
                <div style="background-color:#E7E7E7; padding: 20px; padding-top: 5px; border-radius:10px; margin-top:10px;">

                    <ul class="nav nav-tabs">
                        <li role="presentation" ng-class="{active : responding}" ng-click="enablePrivateMode()"><a>Respond</a></li>
                        <li role="presentation" ng-class="{active : privateMode}" ng-click="enablePrivateMode()"><a>Private Case Notes</a></li>
                    </ul>
                    <div ng-show="responding">
                        <textarea id="case-text-area" ng-model="newComment.text"></textarea>
                        <button class="btn" ng-click="update()">Send</button>
                    </div>
                    <div ng-show="privateMode">
                        <textarea id="case-text-area" ng-model="privateNotes" placeholder="My Private Case Notes"></textarea>
                        <button class="btn">Save</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div style="background-color:#E7E7E7; padding: 20px; padding-top: 5px; border-radius:10px; margin-top:10px;">
                    <h3>Conversation History</h3>
                    <div style="overflow-x:hidden;overflow-y:auto;height:400px">


                        <div class="row" ng-repeat="comment in comments">
                            <div class="col-md-8">
                                <div class="well well-lg">{{comment.text}}</div>
                                <p><font size="2">{{comment.name}}<font></p>

                            </div>
                            <div class="col-md-2">
                                <img src="images/avatars/{{comment.avatar}}" alt="images/avatars/blank.jpg" class="img-circle" style="height:48px;width:48px;">                               
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>




</div>