<div class="container marketing" style="padding-top:10px">
<div class="text-center">
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ng-click="filterCases('')">All</button>
        <button type="button" class="btn btn-default" ng-click="filterCases('Responded')">Responded</button>
        <button type="button" class="btn btn-default" ng-click="filterCases('AwaitingResponse')">Awaiting</button>
        <button type="button" class="btn btn-default" ng-click="filterCases('Closed')">Closed</button>
        {{responded}}
    </div>
</div>
    
    <table class="table">
        <thead>
            <tr>
                <th>Patient Id</th>
                <th>Description</th>
                <th>Status</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>            
            <tr ng-repeat="case in cases | filter: {status: status} | orderBy: 'status' : false" class="{{case.status}}" ng-click="loadCase(case._id)">
                <!--            <th scope="row"></th>-->
                <td><a href="#/case/{{case._id}}">{{case.patientId}}</a></td>
                <td><a href="#/case/{{case._id}}">{{case.description}}</a></td>
                <td><a href="#/case/{{case._id}}">{{case.status}}</a></td>
                <td>{{case.createdDate}}</td>
            </tr>
        </tbody>
    </table>   

</div>


