<div class="container marketing">
<!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-6">
<!--          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">-->
            
            <span class="fa-stack fa-5x" width="140" height="140">
              <i class="fa fa-circle fa-stack-2x red"></i>
              <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
            </span>

          <h2>Cases</h2>
          <p>View a list of exisiting cases.</p>
          <p><a class="btn btn-default" href="#/cases" role="button">View Cases... &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <!--<div class="col-lg-4">
            <span class="fa-stack fa-5x" width="140" height="140">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
            </span>
          <h2>Heading</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div> /.col-lg-4 -->
        <div class="col-lg-6">
          
            <span class="fa-stack fa-5x" width="140" height="140">
              <i class="fa fa-circle fa-stack-2x red"></i>
              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
            </span>
            
          <h2>Users</h2>
          <p>Manage Virtual Doctors</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    
    </div>
