

<div ng-controller="CarouselDemoCtrl">
  <div style="height: 305px">
    <carousel interval="3000">
      <slide ng-repeat="slide in slides" active="slide.active">
    
          <!--<ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>-->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>{{ slide.text }}</h1>
              <p>This will contain text about the Virtual Doctor apps</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
       
        
      </div>
          
          
      </slide>
    </carousel>
  </div>
    
    
    

