<div class="container">
    <h3 style="text-align:center">Please login to the application</h3>
    <p style="text-align:center">
     Example:

    
        <br><b> Username: 'paulr' Password:</b>

    </p>

</div>