    <div ng-controller="LoginModalCtrl">
<!--        <script type="text/ng-template" id="myModalContent.html">-->
            <div class="modal-header">
                <h3 class="modal-title">Login</h3>
            </div>
            <div class="modal-body">
                <form>
                    Username:
                    <input type="text" name="username" id="username" ng-model="credentials.username">
                    <br> Password:
                    <input type="text" name="password" id="password">
                    <br>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="ok()">Login</button>
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
<!--        </script>-->
    </div>