<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--    <link rel="icon" href="../../favicon.ico">-->

    <title>Virtual Doctor</title>

    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--    <link href="http://designmodo.github.io/Flat-UI/dist/css/flat-ui.css" rel="stylesheet">-->
    <link href="bower_components/fontawesome/css/font-awesome.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/custom.css" rel="stylesheet">
    <script src="bower_components/angular/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!--      <script src="bower_components/angular-route/angular-route.js"</script>-->
    <script src="app/app.js"></script>
    <script src="app/loginService.js"></script>
    <script src=app/loginModalCtrl.js></script>
    
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300' rel='stylesheet' type='text/css'>
</head>
<!-- NAVBAR
================================================== -->

<body ng-app="myApp" ng-controller="ListController">
    <div class="navbar-wrapper" style="background-color:#E7E7E7">
        <div class="container" style="height:100px">

            <nav class="navbar navbar-default navbar-static-top" style="height: 50px">
                <div class="container">
                    <div class="navbar-header">


                        <a class="navbar-brand" href="#">
                            <img src="images/logo_notext.png" alt="..." class="img-rounded logo" style="width:80px; height:80px">
                        </a>

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#/home">Virtual Doctor App</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" ng-show="loginData.loggedIn">
                            <li><a href="#/dashboard">Dashboard</a>
                            </li>
                            <li><a href="#/cases">Cases</a>
                            </li>
<!--                            class="active"-->

                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-show="loginData.loggedIn"><a>Hi, {{loginData.user}}</a>
                            </li>
                            <li ng-controller="LoginModalCtrl"><a ng-click="open('sm')">{{loginData.text}}</a>
                            </li>
                        </ul>
                    </div>
<!--
                    <div class="form-inline" style="position:absolute; margin-left: 60%; margin-top: 12px">
                        Quick Search <input class="form-control"><button type="submit" class="btn btn-default">Search</button></div>
-->
                </div>
            </nav>

        </div>
    </div>
    
    


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->


    <div id=container class="cases">
        <div ng-view></div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>
